* {
  box-sizing: border-box;
  font-family: "Inter";
}
.navtop {
  display: flex;
  justify-content: space-between;
  margin-left: 5rem;
  height: 100px;
  align-items: center;
}
.navitem {
  margin: 4rem;
  line-height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navitem a {
  padding-left: 2rem;
  text-decoration: none;
  list-style: none;
}
.navitem a:nth-child(4) {
  color: #ff3998;
}
.navitem a {
  text-decoration: none;
  padding: 1rem;
  color: #555555;
  font-size: 20px;
  font-weight: 400;
}
.header {
  margin-left: 5rem;
  display: flex;

  align-items: center;
}
.headerimage {
  width: 55%;
}
.header h4 {
  color: #ff3998;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 1.5rem;
}
.header h3 {
  font-size: 96px;
  margin: 0;
}
.header p {
  font-size: 20px;
  font-weight: 400;
}
.headertext button {
  padding: 1rem 2rem;
  margin-top: 1.5rem;
  font-size: 20px;
  font-weight: 600;
  background-color: white;
  border-radius: 60px;
  border-color: rgb(255, 63, 99);
}
.grid {
  margin: 5rem;
  background-image: url(./assets/background.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.articletext {
  padding-top: 8rem;
  padding-bottom: 4rem;
  padding-left: 4rem;
}
.companies {
  margin-left: 5rem;
}
.companies img {
  padding-right: 4.7rem;
}
.nft {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5rem;
  width: 100%;
  border: #cccccc;
  border-bottom-style: solid;
  padding-bottom: 4rem;
}
.nfttext {
  margin: 5rem;
}
.nftproduct1,
.nftproduct2,
.nftproduct3,
.nftproduct4 {
  background-color: #cccccc;
  border-radius: 20px;
  margin-right: 1.7rem;
  margin-bottom: 1.7rem;
}
.nft1 {
  text-align: left;
}
.nft2 {
  text-align: right;
}
.nft3 {
  text-align: right;
}
table {
  width: 100%;
  padding: 1rem;
}
.series {
  color: #ff8139;
  font-size: 12px;
}
.bid {
  color: #777777;
  font-size: 12px;
}
.articul {
  color: #777777;
}
td {
  height: 25px;
  vertical-align: center;
}
.footertop {
  margin-left: 5rem;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}
.footertext {
  width: 45%;
}
.footertext h4 {
  color: #ff3998;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 1.5rem;
}
.footertext h3 {
  font-size: 55px;
  font-weight: bold;
  margin: 0;
}
.footertext p {
  font-size: 20px;
  font-weight: 400;
}
.footertext button {
  padding: 1rem 2rem;
  margin-top: 1.5rem;
  font-size: 20px;
  font-weight: 600;
  background-color: white;
  border-radius: 60px;
  border-color: rgb(255, 63, 99);
}
.footerimage {
  width: 35%;
}
.footer {
  margin: 5rem;
}
.footer,
.footerbottom {
  color: #777777;
}
.soclogo svg {
  margin-right: 0.5rem;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.footerlogo {
  width: 50%;
  margin-top: 2.5rem;
}
.footerinfo {
  width: 50%;
}
.footertable {
  text-align: center;
}
.footertable th {
  height: 70px;
}
.footertable td {
  height: 30px;
}
.footertable td:hover {
  color: #333333;
  cursor: pointer;
}
.footerbottom {
  display: flex;
  justify-content: space-between;
  margin: 5rem;
}
@media only screen and (max-width: 500px) {
  .navitem {
    display: flex;
    flex-direction: column;
    line-height: 5px;
    flex-wrap: wrap;
  }
  .navtop {
    margin-top: 1.5rem;
  }
  .header,
  .navtop,
  .grid,
  .nfttext,
  .nft,
  .footertop,
  .footer,
  .footerbottom {
    margin-left: 2rem;
  }
  .headertext h3 {
    font-size: 3rem;
  }
  .headertext p {
    font-size: 1.5rem;
  }
  .grid {
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    background-size: cover;
  }
  .articletext {
    padding: 0;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .companies {
    margin-left: 2rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0.5rem;
  }
  .companies img {
    padding: 0;
  }
  h2 {
    font-size: 2.2rem;
  }
  p {
    font-size: 1.4rem;
  }
  .nft {
    flex-wrap: nowrap;
  }
  .footer {
    margin: 0;
    margin-left: 2rem;
    flex-direction: column;
  }
  table {
    padding: 0;
    margin-top: 1.5rem;
  }
  .footerbottom {
    margin: 0;
    margin-top: 2rem;
  }
  .footerbottom p {
    margin-left: 2rem;
  }
  .footerbottom p:nth-child(2) {
    display: none;
  }
}
